<h1 class="mb-4">Login</h1>

<form action="/sessions" method="post" class="w-50">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      required
    >
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      required
    >
  </div>

  <div class="d-flex align-items-center">
    <button type="submit" class="btn btn-primary me-3">Login</button>
    <%= link_to "Signup", signup_path, class: "btn btn-link" %>
  </div>
</form>


