<h1>Login</h1>

<form action="/sessions" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <p>
    <label for="email_input">Email</label><br>
    <input
      type="text"
      name="email"
      id="email_input"
      required
    >
  </p>

  <p>
    <label for="password_input">Password</label><br>
    <input
      type="password"
      name="password"
      id="password_input"
      required
    >
  </p>

  <button type="submit">Login</button>
</form>

