<h1>New Entry for <%= @place.name %></h1>

<form action="<%= place_entries_path(@place) %>" method="post" enctype="multipart/form-data">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <p>
    <label for="title_input">Title</label><br>
    <input
      type="text"
      name="title"
      id="title_input"
      required
    >
  </p>

  <p>
    <label for="description_input">Description</label><br>
    <textarea
      name="description"
      id="description_input"
      rows="4"
      required
    ></textarea>
  </p>

  <p>
    <label for="occurred_on_input">Occurred On</label><br>
    <input
      type="date"
      name="occurred_on"
      id="occurred_on_input"
      required
    >
  </p>

  <p>
    <label for="image_input">Optional Photo</label><br>
    <input
      type="file"
      name="image"
      id="image_input"
      accept="image/*"
    >
  </p>

  <button type="submit">Save Entry</button>
</form>

<p>
  <a href="<%= place_path(@place) %>">Cancel</a>
</p>
